<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.nanoregistry.access</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.private.allow-background-haptics</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.kernel.jetsam</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.accessibility-window-hosting</key>
	<true/>
	<key>com.apple.springboard.appbackgroundstyle</key>
	<true/>
	<key>com.apple.springboard.disallowControlCenter</key>
	<true/>
	<key>com.apple.springboard.disallowNotificationCenter</key>
	<true/>
	<key>file-read-data</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>user-preference-read</key>
	<true/>
	<key>user-preference-write</key>
	<true/>
	<key>com.apple.private.security.storage.AppBundles</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.runningboard.assertions.frontboard</key>
	<true/>
	<key>com.apple.runningboard.hereditarygrantoriginator</key>
	<true/>
	<key>com.apple.runningboard.launchprocess</key>
	<true/>
	<key>com.apple.runningboard.primitiveattribute</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.runningboard.targetidentities</key>
	<true/>
	<key>com.apple.runningboard.terminateprocess</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.UIKit.statusbarserver</string>
		<string>com.apple.sirittsd</string>
		<string>com.apple.proactive.UserEducationSuggestion.server-listener.xpc</string>
		<string>com.apple.Photos.MultiLibrary</string>
		<string>com.apple.abm.helper.mobile</string>
		<string>com.apple.siri.activation.service</string>
		<string>com.apple.springboard.SBRendererService</string>
		<string>com.apple.appstored.xpc</string>
		<string>com.apple.appstored.xpc.request</string>
		<string>com.apple.PointerUI.pointeruid.service-launching</string>
		<string>com.apple.proactive.appDirectory</string>
		<string>com.apple.CarPlayApp.service</string>
		<string>com.apple.sleepd.sleepserver</string>
		<string>com.apple.donotdisturb.service</string>
		<string>com.apple.coordination.alarms</string>
		<string>com.apple.coordination.timers</string>
		<string>com.apple.tipsd</string>
		<string>com.apple.ModeEntityScorer</string>
		<string>com.apple.proactive.NotificationDigest.xpc</string>
		<string>com.apple.assistant.announcement_state.service</string>
		<string>com.apple.icloud.searchpartyd.beaconmanager</string>
		<string>com.apple.server.bluetooth.general.xpc</string>
		<string>com.apple.powerd.smartpowernap</string>
		<string>com.apple.biomesyncd.realTimeSession</string>
		<string>com.apple.sessionservices</string>
		<string>aps-connection-initiate</string>
		<string>com.apple.mobileassetd.v2</string>
		<string>com.apple.HearingApp</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>AppleCredentialManagerUserClient</string>
		<string>AppleJPEGDriverUserClient</string>
		<string>ApplePPMUserClient</string>
		<string>AppleSPUHIDDeviceUserClient</string>
		<string>AppleSPUHIDDriverUserClient</string>
		<string>IOAccelContext</string>
		<string>IOAccelContext2</string>
		<string>IOAccelDevice</string>
		<string>IOAccelDevice2</string>
		<string>IOAccelSharedUserClient</string>
		<string>IOAccelSharedUserClient2</string>
		<string>IOAccelSubmitter2</string>
		<string>IOHIDEventServiceFastPathUserClient</string>
		<string>IOHIDLibUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOReportUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>RootDomainUserClient</string>
		<string>IOGPUDeviceUserClient</string>
	</array>
	<key>com.apple.springboard-ui.client</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides.coordinator</key>
	<array>
		<string>UIStatusBarStyleOverrideDeveloperTools</string>
		<string>UIStatusBarStyleOverridePlaygrounds</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>com.apple.security.get-task-allow</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>run-unsigned-code</key>
	<true/>
	<key>proc_info-allow</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.system-task-ports.control</key>
	<true/>
	<key>com.apple.system-task-ports.token.control</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AGXDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.private.security.syspolicy.kext-management</key>
	<true/>
	<key>com.apple.private.security.kext-management</key>
	<true/>
	<key>com.apple.private.security.kext-collection-management</key>
	<true/>
	<key>com.apple.developer.driverkit.transport.pci.offloadEngineDisable</key>
	<true/>
	<key>com.apple.developer.driverkit.builtin</key>
	<true/>
	<key>com.apple.developer.driverkit.transport.pci</key>
	<true/>
	<key>com.apple.developer.driverkit</key>
	<true/>
	<key>com.apple.private.spawn-driver</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>InstallForLaunchServices</string>
		<string>Install</string>
		<string>UninstallForLaunchServices</string>
		<string>Uninstall</string>
		<string>UpdatePlaceholderMetadata</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.hid.manager.user-access-custom-queue-size</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.private.allow-explicit-graphics-priority</key>
	<true/>
	<key>com.apple.QuartzCore.cache-asynchronous</key>
	<true/>
	<key>com.apple.avfoundation.allow-identifying-output-device-details</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.avfoundation.allows-access-to-device-list</key>
	<true/>
	<key>com.apple.backboard.display.archive</key>
	<true/>
	<key>com.apple.backboardd.touchDeliveryObservation</key>
	<true/>
	<key>com.apple.backboardd.virtualDisplay</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/</string>
	</array>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.security.container-manager</key>
	<true/>
	<key>com.apple.system-task-ports</key>
	<true/>
	<key>com.apple.private.alloy.bulletinboard</key>
	<true/>
	<key>com.apple.bulletinboard.observer</key>
	<true/>
	<key>com.apple.bulletinboard.observerconnection</key>
	<true/>
	<key>com.apple.bulletinboard.dataproviderconnection</key>
	<true/>
	<key>com.apple.bulletinboard.dataprovider</key>
	<true/>
	<key>com.apple.bulletinboard.serverconduitconnection</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.bulletinboard.systemstate</key>
	<true/>
	<key>com.apple.bulletinboard.serverconduit</key>
	<true/>
	<key>com.apple.bulletinboard</key>
	<true/>
	<key>com.apple.bulletinboard.notificationsync.dismissalcachematch</key>
	<true/>
	<key>com.apple.bulletinboard.notificationsync.dismissalnoapp</key>
	<true/>
	<key>com.apple.bulletinboard.notificationsync.dismissalnoaction</key>
	<true/>
	<key>com.apple.bulletinboard.notificationsync.dismissalcached</key>
	<true/>
	<key>com.apple.bulletinboard.notificationsync.dismissalaction</key>
	<true/>
	<key>com.apple.bulletinboard.prefsChanged</key>
	<true/>
	<key>com.apple.bulletinboard.identityqueue.gatewayholdertimeout</key>
	<true/>
	<key>com.apple.bulletinboard.settingspersistenceconnection</key>
	<true/>
	<key>com.apple.bulletinboard.BBSyncService.sendTimer</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>data-allowed-write</string>
	</array>
</dict>
</plist>
